.details {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    min-height: 100vh;
}
.left {
    flex: 1;
    
}

.friendZon {
    flex: .5;
    border: 1px solid lightgray;
    padding: 1rem;
    margin-left: 0.5rem;
}