.details {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    min-height: 100vh;
}
.left {
    flex: 1;
    
}
.friends {
    margin-left: 1rem;
    border: 1px solid lightgray;
    padding: 1rem;
}