.home {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  min-height: 100vh;
}
.feed {
  flex: 1;
  margin-right: 0.5rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 0.5rem;
}
.followingContainer > h3 {
  padding: 0.5rem 0;
}
